@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme{
    --font-inter: 'Inter', sans-serif;
    --font-winky: 'Winky Rough', cursive;
    --color-primary: #132028;
    --color-secondary: #328E6E;
    --color-tertiary: #537D5C;
}

@layer utilities{
    .scrollbar-thin{
        scrollbar-width: thin;
    }

    .scrollbar-thumb-rounded{
        scrollbar-color: #204156 transparent;
    }

    .scrollbar::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-thumb{
        background-color: #fff;
        border-radius: 9999px;
    }

    .scrollbar::-webkit-scrollbar-track{
        background: transparent;
    }

}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
